@if (ContactList is not null)
{
    @foreach (var c in ContactList)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">@c.Id</h3>
                <h5 class="card-title">@c.Name</h5>
                <p class="card-text">@c.City</p>
                <button class="btn btn-info" @onclick="() => OnEdit.InvokeAsync(c)">Edit</button>
                <button class="btn btn-danger" @onclick="() => OnRemove.InvokeAsync(c)">Remove</button>
            </div>
        </div>
    }
}




@code {
    [Parameter] public List<Contact>? ContactList { get; set; }
    [Parameter] public EventCallback<Contact> OnEdit { get; set; }
    [Parameter] public EventCallback<Contact> OnRemove { get; set; }
}
