@typeparam TItem

@if(Item is null)
{
    <h3>No item selected</h3>
}
else
{
    <EditForm Model="Item" OnValidSubmit="() => OnSave.InvokeAsync(Item)">
        <DataAnnotationsValidator />

        @if (ChildContent is not null)
        {
            @ChildContent(Item) 
        }
        <button class="btn btn-success mt-3" type="submit">Ok</button>
        <button class="btn btn-danger mt-3" type="button" @onclick="() => OnCancel.InvokeAsync()">Cancel</button>
    </EditForm>

}

@code {
    [Parameter] public TItem? Item { get; set; }
    [Parameter] public EventCallback<TItem> OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; }
}
