@inject IJSRuntime jSRuntime

@if(MapParameters is not null)
{
    <div id="@MapParameters.Id" style="height:@(MapParameters.Height)px"></div>
}


@code {
    [Parameter] public MapParameters? MapParameters { get; set;}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jSRuntime.InvokeVoidAsync("showMap", 
                                        MapParameters?.Id, 
                                        MapParameters?.Coordinates.Latitude, 
                                        MapParameters?.Coordinates.Longitude, 
                                        MapParameters?.Zoom,
                                        MapParameters?.Markers);
    }

    [JSInvokable]
    public static string GetInfo(int IdMarker)
    {
        return IdMarker % 2 == 0 ? "Open" : "Closed";
    }


}
