@page "/catalog"
@inject IJSRuntime jsRuntime
@inject IProducts productsService

<ProductsListComponent Products="catalogProducts" Title="Catalogo prodotti"
    OnProductDeleted="DeleteCatalogProduct"/>

<MyModal Id="myM" Title="Sicuro di cancellare?" OnSave="Save">
    <ChildContent>
        <p>@selectedProduct?.Name</p>
        <p>@selectedProduct?.Description</p>
    </ChildContent>
</MyModal>

@code {
    private List<Product>? catalogProducts;
    private Product? selectedProduct;

    protected override void OnInitialized()
    {
        var catalog = productsService.GetProducts();
        if (catalog is not null)
        {
            catalogProducts = catalog.ToList();
        };
    }

    private async Task Save()
    {
        if (catalogProducts is not null && selectedProduct is not null)
        {
            catalogProducts.Remove(selectedProduct);
        }
        await jsRuntime.InvokeVoidAsync("nascondiModale");
    }

    private async Task DeleteCatalogProduct(Product product)
    {
        selectedProduct = product;
        await jsRuntime.InvokeVoidAsync("mostraModale", "myM");
        
        
    }
}
