@page "/contacts"
@using Blazor.Library.Map
@inject IJSRuntime jSRuntime
@inject IMapParameters mapParametersService

<h3>Contacts</h3>
@if (mapParameters is not null)
{
    foreach (var mp in mapParameters)
    {
        <Mappa MapParameters="mp" />
        <br />
    }
}


@code {
    private List<MapParameters>? mapParameters;

    protected override async Task OnInitializedAsync()
    {
        mapParameters = await mapParametersService.GetParametersAsync();
    }

}
