@page "/contacts"
@using Blazor.Library.Map
@inject IJSRuntime jSRuntime
@inject IMapParameters mapParametersService
<h3>Contacts</h3>
@foreach (var mp in mapParametersService.GetParameters())
{
    <Mappa MapParameters="mp" />
    <br/>
}


@code {


}
